<!DOCTYPE html>

<title>New Province</title>

{% block body %}
    <h1>Create new Province</h1>

    {{ include('admin_province/_form.html.twig') }}

    <a href="{{ path('app_admin_province_index') }}">back to list</a>
{% endblock %}
