
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <title>{% block title %}SEIMAD{% endblock %}</title>
   {# Favicons #}

  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  {# Google Fonts #}
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        {% block stylesheets %}
        {#{{ encore_entry_link_tags'app' s}}#}
        {#  Vendor CSS Files #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        {#  Template Main CSS File #}
        <link href="/assets/css/style.css" rel="stylesheet">     
        {% endblock %}
        

    </head>
    
    {# Proprety Search Section #}
    {# Navigation #}
        {% include 'layouts/partials/_nav.html.twig' %}
        
   

<body>
   <main class="container pt-5">
        {% block body %}  {% endblock %}
     </main> 
{% include 'layouts/partials/_footer.html.twig' %}

    {% include 'layouts/partials/_back_to_top.html.twig' %}
    
        {% block javascripts %}        
            <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="../assets/vendor/php-email-form/validate.js"></script>       
            {# <script src="../assets/js/main.js"></script>    #}
            <script src="../assets/js/upropriete.js"></script>       
        {% endblock %}
    </body>
</html>
