
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    {{ form_start(form) }}

<div class="col-sm-12 section-t8">
    <legend>ADMINISTRATEUR</legend>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}

    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{# {% endblock %} #}