<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Recherche de titre des propriétés</h1>
              <span class="color-text-a">Résultat</span>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>