{% extends 'layouts/base.html.twig' %}

{% block title %}SEIMAD SA - Propriété{% endblock %}
{% block body %}
<main id="main">
    {# intro single #}
{% include 'property/partials/_intro_single.html.twig' %}
{% include 'property/partials/_main.html.twig' %}


</main>
{% endblock %}
