{# templates/admin/dashboard.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Tableau de Bord</h1>
    <div class="chart-container" style="width: 80%; height: 400px; margin: auto;">
        {{ render_chart(chart) }}
    </div>
    {{ render_chart(chart, {'class': 'my-chart'}) }}
{% endblock %}
