<section class="section-services section-t8">
 <div class="container">
             <div class="row">
                 <div class="col-md-12">
                      <div class="title-wrap d-flex justify-content-between">
                           <div class="title-box">
                                <h2 class="title-a">Nos Services</h2>
                            </div>
                       </div>
                  </div>
            </div>
 <div class="row">
    <div class="col-md-4">
        <div class="card-box-c foo">
            <div class="card-header-c d-flex">
                <div class="card-box-ico">
                        <span class="bi bi-cart"></span>
                         </div>
        <div class="card-title-c align-self-center">
                        <h2 class="title-c">vente</h2>
                        </div>
        </div>
        <div class="card-body-c">
                            <p class="content-c">
                            Ventes et réalisations des projets immobiliers.
                            </p>
        </div>
 <div class="card-footer-c">
        <a href="#" class="link-c link-icon">Lire la suite 
            <span class="bi bi-chevron-right"></span>
                </a>
                    </div>
                </div>
            </div>
 <div class="col-md-4">
     <div class="card-box-c foo">
        <div class="card-header-c d-flex">
            <div class="card-box-ico">
                <span class="bi bi-calendar4-week"></span>
            </div>
 <div class="card-title-c align-self-center">
        <h2 class="title-c">Nos projets</h2>
                   </div>
            </div>
  <div class="card-body-c">
                    <p class="content-c">
                    Projets dans toutes les provinces.
                    </p>
                 </div>
  <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">Lire la suite
                            <span class="bi bi-calendar4-week"></span>
                            </a>
              </div>
            </div>
          </div>
    <div class="col-md-4">
        <div class="card-box-c foo">
            <div class="card-header-c d-flex">
                <div class="card-box-ico">
                        <span class="bi bi-card-checklist"></span>
                </div>
    <div class="card-title-c align-self-center">
                  <h2 class="title-c">réalisations</h2>
                </div>
              </div>
    <div class="card-body-c">
                <p class="content-c">
                  Réalisation des projets immobiliers.
                </p>
              </div>
    <div class="card-footer-c">
                <a href="#" class="link-c link-icon">Lire la suite
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>