<section class="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-map box">
              <div id="map" class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1887.3382429588225!2d47.5087566!3d-18.901428000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21f07fcd39673fd7%3A0xde3edb442aaa430a!2sSeimad%20Soci%C3%A9t%C3%A9%20d&#39;%C3%A9quipement%20immobilier!5e0!3m2!1sfr!2smg!4v1711353444288!5m2!1sfr!2smg" width="1200" height="950" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          {# <div class="col-sm-12 section-t8">
            <div class="row">
              <div class="col-md-7">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="Vôtre nom" required>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Vôtre mail" required>
                      </div>
                    </div> #}
                    {# <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <input type="text" name="subject" class="form-control form-control-lg form-control-a" placeholder="Sujet" required>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea name="message" class="form-control" name="message" cols="45" rows="8" placeholder="Message" required></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 my-3">
                      <div class="mb-3">
                        <div class="loading">Chargement</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Vôtre message a été envoyer , Merci</div>
                      </div>
                    </div>

                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-a">Envoi le Message</button>
                    </div>
                  </div>
                </form>
              </div> #}
              {{ form_start(form) }}

<div class="col-sm-12 section-t8">
    <legend>Les renseignements vous concernant</legend>
    <div class="row">
        <div class="col-md-6 mb-3">
            <!-- Ajoutez les autres champs de votre formulaire ici en utilisant les noms de champs corrects -->
            <div class="form-group">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}

             <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="icon-box section-b2">
        <div class="icon-box-icon">
          <span class="bi bi-envelope"></span>
        </div>
        <div class="icon-box-content table-cell">
          <div class="icon-box-title">
            <h4 class="icon-title">DIRECTION GÉNÉRALE</h4>
          </div>
          <div class="icon-box-content">
            <p class="mb-1">Mail
              <span class="color-a">seimad@seimad.mg</span>
            </p>
            <p class="mb-1">Phone.
              <span class="color-a">020 85 202 98</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="icon-box section-b2">
        <div class="icon-box-icon">
          <span class="bi bi-envelope"></span>
        </div>
        <div class="icon-box-content table-cell">
          <div class="icon-box-title">
            <h4 class="icon-title">DIRECTION MARKETING ET COMMERCIALE</h4>
          </div>
          <div class="icon-box-content">
            <p class="mb-1">Mail
              <span class="color-a">seimad@seimad.mg</span>
            </p>
            <p class="mb-1">Phone.
              <span class="color-a"> 020 85 202 98</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="icon-box section-b2">
        <div class="icon-box-icon">
          <span class="bi bi-phone"></span>
        </div>
        <div class="icon-box-content table-cell">
          <div class="icon-box-title">
            <h4 class="icon-title">AGENCES</h4>
          </div>
          <div class="icon-box-content">
            <p class="mb-1">Antsiranana
              <span class="color-a"> 034 14 330 54</span>
            </p>
            <p class="mb-1">Mahajanga
              <span class="color-a">034 14 166 33</span>
            </p>
            <p class="mb-1">Toamasina
              <span class="color-a">034 14 330 56</span>
            </p>
            <p class="mb-1">Toliara
              <span class="color-a">034 14 166 40</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                <div class="icon-box section-b2">
                  <div class="icon-box-icon">
                    <span class="bi bi-geo-alt"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Localisation</h4>
                    </div>
                    <div class="icon-box-content">
                      <p class="mb-1">
                        67 Ha Nord-Est
                        <br> Antananarivo
                      </p>
                    </div>
                  </div>
                </div>
                <div class="icon-box">
                  <div class="icon-box-icon">
                    <span class="bi bi-share"></span>
                  </div>
                  <div class="icon-box-content table-cell">
                    <div class="icon-box-title">
                      <h4 class="icon-title">Réseaux Sociaux</h4>
                    </div>
                    <div class="icon-box-content">
                      <div class="socials-footer">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#" class="link-one">
                              <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Single-->

  </main