{% extends 'layouts/base.html.twig' %}

{% block title %} Manifestation d'intérêt-SEIMAD SA  {% endblock %}
{% block body %}
<main id="main">
    {# intro single #}

{% include 'manifesat_interet/partials/_intro_single.html.twig' %}
{% include 'manifesat_interet/partials/_main.html.twig' %}

</main>
{% endblock %}