{{ form_start(form) }}

<div class="col-sm-12 section-t8">
    <legend>Les renseignements vous concernant</legend>
    <div class="row">
        <div class="col-md-6 mb-3">
            <!-- Ajoutez les autres champs de votre formulaire ici en utilisant les noms de champs corrects -->
            <div class="form-group">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
