{% extends 'layouts/base.html.twig' %}

{% block title %} Contact-SEIMAD SA  {% endblock %}
{% block body %}
<main id="main">
    {# intro single #}
{% include 'contact/partials/_intro_single.html.twig' %}
{% include 'contact/partials/_main.html.twig' %}


</main>
{% endblock %}

