{% if properties is not empty %}
    <ul>
        {% for property in properties %}
            <li>{{ property.title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun résultat trouvé.</p>
{% endif %}
<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Separated link</a>
</div>