<section class="intro-single">
  <div class="sticky-bottom">
    <div class="accordion" id="accordionExample">
      <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
        <a class="navbar-brand" href="#">Nos entreprises</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">Présentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Activités</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Voir plus</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#scrollspyHeading3">Organigrammes</a></li>
              <li><a class="dropdown-item" href="#scrollspyHeading4">Management de la qualité</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#scrollspyHeading5">Partenaires</a></li>
              <li><a class="dropdown-item" href="#scrollspyHeading6">Trophées</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="display-5">
            Présentation
          </h4>
        </button>

        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="lead">
              Depuis l’année 2005, elle est devenue une Société Anonyme régit par la loi N°2003-036 du 30/01/04 et la loi N°2014-014 du 04/09/14 et de son décret d’application N°2015-849 du 12/05/15, au capital de Ariary 1.720.000.000 ar. Plus tard, la SEIMad a absorbé à son tour l’OFFICE DES HABITATIONS ECONOMIQUES (O.H.E)
            </p>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4 class="display-7">
                Son Status
              </h4>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              La SOCIETE D’EQUIPEMENT IMMOBILIER DE MADAGASCAR ou S.E.I.M.A.D est née de la fusion de la SOCIETE IMMOBILIERE DE MADAGASCAR (S.I.M), créée en 1950, et de la SOCIETE D’EQUIPEMENT URBAIN ET RURAL DE MADAGASCAR (S.E.U.R.Mad). Cette fusion a été décidée en Conseil de Gouvernement par le Décret N° 70-087 le 28 janvier 1970.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4 class="display-7">
                Ses Structures organisationnelles
              </h4>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      <h4 class="display-8">
                        Tutelle technique :
                      </h4>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                      Secrétariat d’État en charge des Nouvelles Villes et de l’Habitat auprès de la Présidence de la République de Madagascar (SENVH)
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      <h4 class="display-8">
                        Tutelle Financière :
                      </h4>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      Ministère de l’Économie et des Finances.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      <h4 class="display-8">
                        Organe de Supervision et d’Approbation :
                      </h4>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      Conseil d’Administration.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                      <h4 class="display-8">
    Organe d’exécution par délégation de pouvoir :
                      </h4>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      Direction générale dirigée par Monsieur Tiana RASOLONDRABE, depuis Juillet 2017
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                      <h4 class="display-8">
                        Effectif du Personnel réparti dans tout Madagascar :
                      </h4>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      70
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                      <h4 class="display-8">
                        Coordonnées fiscales :
                      </h4>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      Identification statistique : 70201 11 1927 0 10002
                      <br>
                      Numéro du Registre du Commerce : 2002 B7
                      <br>
                      NIF : 40000 19 372
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <h4 class="display-5">
      Activités
    </h4>
  </button>

  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <p class="lead">
        1) Participation à l’atteinte de l’objectif du Programme Général de l’Etat de construire des logements pour répondre aux besoins de la population à travers le Programme Immobilier National ou P.I.N ;
        <br>
        2) Réalisation dans le cadre du VELIRANO n°11
        <br>
        Engagement n°7 : Promotion de l’habitat et la modernisation de Madagascar (ODD 9, 11)
        Priorité 14 : Garantir l’accès à un logement décent pour chaque ménage
        Priorité 15 : Doter le pays des infrastructures de standing international
        <br>
        3) Dans le cadre des projets d’aménagement en rapport avec la mise en œuvre et l’exécution de la politique générale de l’Etat telle que définie dans :
        la Politique Nationale de l’Aménagement du Territoire et de l’Habitat.
        les Plans d’Urbanisme Directeurs de quelques grandes villes de Madagascar.
        La SEIMad intervient pour le compte des Organismes ou Institutions publics ou privés ou des Tiers en tant que :           
      </p>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h4 class="display-8">
          I- Concepteur et Réalisateur de Projets d’Aménagement et de Construction :
        </h4>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        Etude des conditions de lancement ou de démarrage d’une opération.
        Contrôle et surveillance.
        Réalisation et Commercialisation des produits.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <h4 class="display-8">
          II- Maître d’Ouvrage Délégué :
        </h4>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        Restructuration et extension urbaines.
        Création de villes nouvelles.
        Etude des conditions de lancement ou de démarrage d’une opération.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        <h4 class="display-8">
          III- Aménageur :
        </h4>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
      <div class="accordion-body">
        Etude de faisabilité et commercialisation des projets urbains dans leurs objectifs de programmation; aspects urbanistiques, techniques, fonciers et juridiques.
        Conduite des procédures d’urbanisme et mise au point du dossier de Zone d’Aménagement Concerté (ZAC).
        Réalisation des travaux de viabilité portant sur la création des espaces publics et commercialisation des charges foncières auprès des promoteurs.
        Pilotage des projets d’aménagement.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        <h4 class="display-8">
          IV- Agence Foncière :
        </h4>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
        Etude des stratégies foncières.
        Gestion des outils de la maîtrise foncière.
        Définition des démarches de valorisation du patrimoine.
        Gestion des patrimoines fonciers et immobiliers.
        Remembrement urbain.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
        <h4 class="display-8">
          V- Gestionnaire de Projet (Project Management)
        </h4>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
      <div class="accordion-body">
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
        <h4 class="display-8">
          VI- Gestion Syndic
        </h4>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
      <div class="accordion-body">
      </div>
    </div>
  </div>
</div>

        <h4 id="scrollspyHeading3">Organigrammes</h4>
                <img  src="{{ asset('assets/img/ORGANIGRAMME.jpg') }}" alt="Image de propriété">
        <h4 id="scrollspyHeading4">Management de la qualité</h4>
        <div class="container">
        <h5>SYSTEME DE MANAGEMENT DE LA QUALITE SELON LA NORME ISO 9001 : 2015</h2>
        <p>Pour garantir la satisfaction de sa clientèle, la SEIMad a mis en œuvre un Système de Management de la Qualité (SMQ).</p>
        
        <h5>POLITIQUE QUALITE</h3>
        <p>La politique qualité adoptée par la SEIMad s’exprime par :</p>
        <ul>
            <li>La satisfaction durable et rentable des exigences des clients</li>
            <li>L'implication, la responsabilisation et la sensibilisation du personnel aux enjeux de la qualité</li>
            <li>L'implication des parties intéressées dans la réalisation de la vision SEIMad</li>
        </ul>
        <p>Cette démarche s'engage à utiliser les technologies appropriées et à respecter les dispositions règlementaires et légales.</p>
        <p>La Politique Qualité est communiquée au sein de l’organisme et aux parties intéressées.</p>

        <h5>OBJECTIFS QUALITE</h3>
        <p>Cette politique qualité se traduit concrètement en des Objectifs Qualité permettant de mesurer son application :</p>
        <ul>
            <li>Obtention du « Label SEIMad » au plus tard en janvier 2020</li>
            <li>Livraison de 90% des produits à la date contractuelle</li>
            <li>Résolution de 90% des réserves et réclamations dans un délai de 15 jours maximum</li>
            <li>Satisfaction d'au moins 90% des clients acquéreurs</li>
            <li>Satisfaction d'au moins 85% du personnel impliqué dans la démarche qualité</li>
        </ul>
        <p>Les Objectifs Qualité font l’objet de communication à l’interne et à l’externe au besoin, avec des mises à jour décidées lors des revues de direction.</p>

        <h5>CERTIFICATION ISO 9001</h3>
        <p>Après un travail de mise à niveau, la SEIMad est certifiée selon la Norme Internationale ISO 9001 version 2015 avec périmètre certifié « Conception, constructions et ventes de logements à usage principal d’habitation ».</p>
    </div>
        <h4 id="scrollspyHeading5">Partenaires</h4>
        <div class="container">
    <p>Dans le contexte actuel du marché de l’Immobilier et de l’Aménagement, la SEIMad reste ouverte à l’étude de toute offre de partenariat aussi bien financière que purement technique.</p>
    <p>Les projets de partenariat peuvent concerner :</p>
    <ul>
        <li>Les Divers Départements Ministériels et Collectivités Décentralisées.</li>
        <li>Les Institutions Financières locales et étrangères.</li>
    </ul>
    <p>Depuis 1999, des projets de construction ont bénéficié du partenariat financier des banques aussi bien locales qu’étrangères (BFV-SG, BOA Madagascar, BNI Madagascar, SHELTER AFRIQUE).</p>
    <ul>
        <li>Les Personnes physiques ou morales éventuellement intéressées aux projets de la SEIMad.</li>
        <li>Les Entrepreneurs et Opérateurs économiques.</li>
    </ul>
</div>
        <h4 id="scrollspyHeading6">Trophées</h4>
                        <img  src="{{ asset('assets/img/trophees-def.jpg') }}" alt="Image de propriété">
      </div>
    </div>
  </div>
  </div>
</section>
                   
